
.small-nav >span >a{
    color:black
}
.navbar-cigna{
    background: white;
    color:black;

}
@media screen and (max-width: 1024px) {
    .sub-image{
        display: none;
    }
}
.well-cigna{
    background: #f5f5f5 !important;
    margin-left: 20px;
}
.well-sidebar{
    background: white !important;
    margin-left: 20px;
    border: solid darkgrey 1px;
}
.label-cigna{
    color: black !important;
}
/*====================================================================================*/
.nav-wizard{
  align-content: center;
}
.nav-wizard > li {
    float: left;
}
.nav-wizard > li > a {
    position: relative;
    background-color: #eeeeee;
    width:273px;


}
.nav-wizard > li > a .badge {
    margin-left: 3px;
    color: #eeeeee;
    background-color: #51C0FB;
}
.nav-wizard > li > a .badge.badge-step {
    color: #51C0FB;
    border: 1px solid #51C0FB;
    border-radius: 50%;
    padding: 3px 5px;
    background-color: transparent;
}
.nav-wizard > li.active > a .badge.badge-step {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    padding: 3px 5px;
    background-color: transparent;
}
.nav-wizard > li:not(:first-child) > a {
    padding-left: 34px;
}
.nav-wizard > li:not(:first-child) > a:before {
    width: 0px;
    height: 0px;
    border-top: 30px inset transparent;
    border-bottom: 30px inset transparent;
    border-left: 20px solid #ffffff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.nav-wizard > li:not(:last-child) > a {
    margin-right: 1px;
}
.nav-wizard > li:not(:last-child) > a:after {
    width: 0px;
    height: 0px;
    border-top: 30px inset transparent;
    border-bottom: 30px inset transparent;
    border-left: 20px solid #eeeeee;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
/*.nav-wizard > li:first-child > a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}*/
/*.nav-wizard > li:last-child > a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}*/
.nav-wizard > li.done:hover > a,
.nav-wizard > li:hover > a {
    background-color: #d5d5d5;
}
.nav-wizard > li.done:hover > a:before,
.nav-wizard > li:hover > a:before {
    border-right-color: #d5d5d5;
}
.nav-wizard > li.done:hover > a:after,
.nav-wizard > li:hover > a:after {
    border-left-color: #d5d5d5;
}
.nav-wizard > li.done > a {
    background-color: #e2e2e2;
}
.nav-wizard > li.done > a:before {
    border-right-color: #e2e2e2;
}
.nav-wizard > li.done > a:after {
    border-left-color: #e2e2e2;
}
.nav-wizard > li.active > a,
.nav-wizard > li.active > a:hover,
.nav-wizard > li.active > a:focus {
    color: #ffffff;
    background-color: #51C0FB;
}
.nav-wizard > li.active > a:after {
    border-left-color: #51C0FB;
}
.nav-wizard > li.active > a .badge {
    color:white;
    background-color: #51C0FB;
}
.nav-wizard > li.disabled > a {
    color: white;
}
.nav-wizard > li.disabled > a:hover,
.nav-wizard > li.disabled > a:focus {
    color: white;
    text-decoration: none;
    background-color: #eeeeee;
    cursor: default;
}
.nav-wizard > li.disabled > a:before {
    border-right-color: #eeeeee;
}
.nav-wizard > li.disabled > a:after {
    border-left-color: #eeeeee;
}
.nav-wizard.nav-justified > li {
    float: none;
}
.nav-wizard.nav-justified > li > a {
    padding: 10px 15px;
}
@media (max-width: 768px) {
    .nav-wizard.nav-justified > li > a {
        /*border-radius: 4px;*/
        margin-right: 0;
    }
    .nav-wizard.nav-justified > li > a:before,
    .nav-wizard.nav-justified > li > a:after {
        border: none !important;
    }
}
.nav-wizard >li >a >h4{
    color:black !important;
}

.progress-bar-cigna{

    margin-bottom:20px;
}
.well-sidebar> div{
    margin-top:10px
}
.cigna-glyphy{
    font-size: xx-large;
    color: #51C0FB;
}
@media screen and (max-width: 1024px) {
    .progress-bar-cigna{
        display: none;
    }
}

.navbar-cigna >ul >li >a{
    color:black !important;
}
.seperator{
    margin-left:7px;
}
